@model APPCOVID.Models.UserAdmin

<h2>
    <a href="@Url.Action("Nuevo","UserAdmin")" class="btn btn-primary right">Nuevo</a>
    Lista Usuarios por ID
</h2>

@using (Html.BeginForm())
{
    <input type="text" value="@ViewBag.id_user" />
    <input type="submit" value="Consultar" />
}

<table class="table table-bordered">


    <thead class="text">
        <tr>

            <td>NOMBRE</td>
            <td>APELLIDO</td>
            <td>DOCUMENTO</td>
            <td>NUMERO</td>
            <td>EMAIL</td>
            <td>SEXO</td>
            <td>FECHA DE REGISTRO</td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in ViewBag.usersxid)
        {
            <tr>


                <td>@item.nombre</td>

                <td>@item.apellido</td>

                <td>@item.doc_tipo</td>

                <td>@item.num_doc</td>

                <td>@item.email</td>

                <td>@item.sexo</td>

                <td>@item.fecha_registro</td>


                <td>
                    <a href="@Url.Action("Actualizar", "Administrador", new { id = item.id_user })" class="btn btn-success right">Actualizar</a>
                    @*  <a href="@Url.Action("Eliminar","Administrador" ,new {id=item.id_user })" class="btn btn-danger right">Eliminar</a>*@
                    <a href="@Url.Action("Detalle", "Administrador", new { id = item.id_user })" class="btn btn-default right">Ver Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

