@model APPCOVID.Models.Administrador



<h2>
    <a href="@Url.Action("Nuevo","Administrador")" class="btn btn-primary right">Nuevo</a>
    Index</h2>


<table class="table table-bordered">

    <thead>
        <tr>
            <td>ID</td>
            <td>DESCRIPCION</td>
            <td>ACCIONES</td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in ViewBag.sintomass)
        {
            <tr>
                <td>@item.symptom_id</td>

                <td>@item.symptom_description</td>
                <td>
                    <a href="@Url.Action("Actualizar","Administrador" ,new {id=item.symptom_id })" class="btn btn-success right">Actualizar</a>
                    <a href="@Url.Action("Eliminar","Administrador" ,new {id=item.symptom_id })" class="btn btn-danger right">Eliminar</a>
                    <a href="@Url.Action("Detalle","Administrador" ,new {id=item.symptom_id })" class="btn btn-default right">Ver Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>